*{
     margin: 0;
     padding: 0;
     
     
}
body{
    background-color: #F8F8FF;
}
.header-logo{
    font-family: "Inter", sans-serif; 
    font-size: 34px;
    font-weight: 900;
    color:#4E47FF;

}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  width: auto;
  
}
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 75px;

}

.banner-title{
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 30px;
}
.banner{
    text-align: center;
    margin-top: 158px;
    padding-bottom: 150px;
}
.bg-img{
    background-image: url("../Assets/Hero-bg.png");
   
}
.about-title{
    font-family: "Raleway", sans-serif;
    font-size: 42;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-subtitle{
    font-family: "Raleway",sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    margin-bottom: 10px;
}
.action{
    display: flex;
    justify-content: space-between;
    /* border-style: solid; */
    max-width: 1140px;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    
}
.action-image{
    border-radius: 48px;
    max-width: 403px;
    max-height: 328px;
}
.action-info{
    max-width: 517px;
    margin: auto;
    margin-left: 0;
}
.productive-section {
    max-width: 1140px;
    margin: 100px auto; 
    background-color:#E6E6FF; 
    padding: 50px 0; 
    text-align: center; 
    border-radius: 24px;
}

.pro-heading {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 50px; 
}

.productive-stats {
    display: flex; 
    justify-content: center; 
    gap: 80px; 
}

.stat-item {
    text-align: center;
}

.stat-number {
    font-family: "Inter", sans-serif;
    font-size: 60px; 
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 10px; 
}

.stat-label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #666; 
    text-transform: capitalize;
}
/* review section */

.review-title{
    font-family: "Raleway",sans-serif;
    font-size: 42px;
    font-weight: bold;
}
.review-section {
  max-width: 1140px;
  margin: 50px auto;
  padding: 0 10px;
  text-align: center;
}

.review-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #1e1e2f;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.review-card {
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  max-width: 300px;
  text-align: left;
}

.stars img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.review-card h3 {
  font-family: "AGFont", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 12px 0 8px;
  color: #1E1E1E;
}

.review-card p {
  font-family: 'AGFont', sans-serif;
  font-size: 14px;
  color:#1E1E1E;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reviewer div span {
  font-family: 'AGFont', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #888;
}
/* focushed section */
.focused{
    text-align: center;
    max-width: 1140px;
    max-height: 690px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px 150px;
    /* border-style: solid; */
    margin:30px 50px;
    border-radius: 14px;
}

.focused-img{
    max-width: 840px;
    max-height: 350px;
    border-radius: 48px;
    margin-top: 20px;
}
.focused-title{
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.focused-subtitle{
    font-family: "AGFont", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

}

/* get is touch section */
 .container {
            display: flex;
            justify-content: space-between;
            gap:100px;
            align-items: center;
            max-width: 1140px;
            margin: 150px auto;
            /* border-style: solid; */
            gap:300px
            
           
            
        }
    .left-section h1{
        font-family: "Raleway",sans-serif;
        font-size: 97px;
        font-weight: bold;
    }
     form label {
            display: block;
            margin-bottom: 8px;
            font-weight: 600;
            color: #374151;
            font-family: "Inter",sans-serif;
            font-size: 18px;
            font-weight: 500;
        }
        form input[type="email"], form input[type="text"]{
            height: 60px;
            border-radius: 10px;
            width: 400px;
            background-color: white;
            border:none;
            box-shadow: 0 0 0 1px rgba(102, 126, 234, 0.1);
            padding: 5px 10px ;
            margin-bottom: 10px;
        }
        
        form textarea{
            height: 120px;
            border-radius: 10px;
            width: 400px;
            background-color: white;
            border: none;
            box-shadow:0 0 0 1px rgba(102, 126, 234, 0.1) ;
            padding: 10px 10px;
            margin-bottom: 10px;
        }

        form input[type="submit"]{
            font-family: "Raleway",sans-serif;
            font-size: 16px;
            font-weight: bold;
            height: 50px;
            border-radius: 10px;
            width: 420px;
            background-color: #4E47FF;
            color:white;
            border:none;
            padding: 5px 10px;
            
        }
        input::placeholder, textarea::placeholder{
            font-family: "Inter",sans-serif;
            font-size:20px;
            font-weight: 400;
        }
      
      

        


    

       