*{
     margin: 0;
     padding: 0;
     
     
}
body{
    background-color: #F8F8FF;
}
.header-logo{
    font-family: "Inter", sans-serif; 
    font-size: 34px;
    font-weight: 900;
    color:#4E47FF;

}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4E47FF;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  width: auto;
  
}
 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 75px;

}

.banner-title{
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 30px;
}
.banner{
    text-align: center;
    margin-top: 158px;
    padding-bottom: 150px;
}
.bg-img{
    background-image: url("../Assets/Hero-bg.png");
   
}
.about-title{
    font-family: "Raleway", sans-serif;
    font-size: 42;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-subtitle{
    font-family: "Raleway",sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    margin-bottom: 10px;
}
.action{
    display: flex;
    justify-content: space-between;
    /* border-style: solid; */
    max-width: 1140px;
    margin: auto;
    align-items: center;
    margin-top: 100px;
    margin-right: 200px;
}
.action-image{
    border-radius: 48px;
    max-width: 403px;
    max-height: 328px;
}
.action-info{
    max-width: 517px;
    margin: auto;
}

